In [1]:
import numpy as np

import matplotlib.pyplot as plt

import pandas as pd

import os

In [2]:
moviess = pd.read_csv('Moviedataset/tmdb_5000_movies.csv')

creditts = pd.read_csv('Moviedataset/tmdb_5000_credits.csv')

In [3]:
moviess.head(3)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466

In [4]:
creditts.head(3)

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."

In [5]:
moviess.shape

(4803, 20)

In [6]:
creditts.shape

(4803, 4)

In [7]:
moviess = moviess.merge(creditts, on = 'title')

In [8]:
moviess.head(3)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,movie_id,cast,crew
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,19995,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...",...,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500,285,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...",...,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466,206647,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."

In [9]:
moviess.shape

(4809, 23)

In [10]:
moviess.columns

Index(['budget', 'genres', 'homepage', 'id', 'keywords', 'original_language',
       'original_title', 'overview', 'popularity', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'vote_average',
       'vote_count', 'movie_id', 'cast', 'crew'],
      dtype='object')

In [11]:
about_movie = moviess[['movie_id', 'title', 'genres', 'keywords',  'overview', 'spoken_languages', 'cast', 'crew']]

In [12]:
about_movie.head()

,movie_id,title,genres,keywords,overview,spoken_languages,cast,crew
0,19995,Avatar,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","In the 22nd century, a paraplegic Marine is di...","[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","Captain Barbossa, long believed to be dead, ha...","[{""iso_639_1"": ""en"", ""name"": ""English""}]","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",A cryptic message from Bond’s past sends him o...,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...","[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",Following the death of District Attorney Harve...,"[{""iso_639_1"": ""en"", ""name"": ""English""}]","[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 818, ""name"": ""based on novel""}, {""id"":...","John Carter is a war-weary, former military ca...","[{""iso_639_1"": ""en"", ""name"": ""English""}]","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [13]:
about_movie.shape

(4809, 8)

In [14]:
about_movie.isnull().sum()

movie_id            0
title               0
genres              0
keywords            0
overview            3
spoken_languages    0
cast                0
crew                0
dtype: int64

In [15]:
about_movie.dropna(inplace=True)

C:\Users\Rotimi O. Awomodu\AppData\Local\Temp\ipykernel_16284\798847467.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  about_movie.dropna(inplace=True)

In [16]:
about_movie.duplicated().sum()

0

In [17]:
about_movie.iloc[0]['genres']

'[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'

In [18]:
import ast

def changing(info_text):
    Lt = []
    for a in ast.literal_eval(info_text):
        Lt.append(a['name'])

    return Lt

In [19]:
about_movie['genres'] = about_movie['genres'].apply(changing)

C:\Users\Rotimi O. Awomodu\AppData\Local\Temp\ipykernel_16284\4103880633.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  about_movie['genres'] = about_movie['genres'].apply(changing)

In [20]:
about_movie['keywords'] = about_movie['keywords'].apply(changing)

C:\Users\Rotimi O. Awomodu\AppData\Local\Temp\ipykernel_16284\3740453998.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  about_movie['keywords'] = about_movie['keywords'].apply(changing)

In [21]:
about_movie['spoken_languages'] = about_movie['spoken_languages'].apply(changing)

C:\Users\Rotimi O. Awomodu\AppData\Local\Temp\ipykernel_16284\4136111475.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  about_movie['spoken_languages'] = about_movie['spoken_languages'].apply(changing)

In [22]:
import ast

def changing_cast(cast_info):
    CLt = []
    counters = 0
    for a in ast.literal_eval(cast_info):
        if counters < 3:
            CLt.append(a['name'])
        counters += 1
    return CLt

In [23]:
about_movie['cast'] = about_movie['cast'].apply(changing_cast)

C:\Users\Rotimi O. Awomodu\AppData\Local\Temp\ipykernel_16284\469520636.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  about_movie['cast'] = about_movie['cast'].apply(changing_cast)

In [24]:
import ast

def getting_director(directot_info):
    DLt = []
    for a in ast.literal_eval(directot_info):
        if a['job'] == 'Director':
            DLt.append(a['name'])
            break

    return DLt

In [25]:
about_movie['crew'] = about_movie['crew'].apply(getting_director)

C:\Users\Rotimi O. Awomodu\AppData\Local\Temp\ipykernel_16284\1961388723.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  about_movie['crew'] = about_movie['crew'].apply(getting_director)

In [26]:
about_movie['overview'] = about_movie['overview'].apply(lambda l:l.split())

C:\Users\Rotimi O. Awomodu\AppData\Local\Temp\ipykernel_16284\426976171.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  about_movie['overview'] = about_movie['overview'].apply(lambda l:l.split())

In [27]:
#Removal of space e.g Sam Worthington to SamWorthington

def rmoving_space(wordd):
    RSlt = []
    for a in wordd:
        RSlt.append(a.replace(' ', ''))
    return RSlt

In [28]:
about_movie['cast'] = about_movie['cast'].apply(rmoving_space)

about_movie['crew'] = about_movie['crew'].apply(rmoving_space)

about_movie['keywords'] = about_movie['keywords'].apply(rmoving_space)

about_movie['genres'] = about_movie['genres'].apply(rmoving_space)

C:\Users\Rotimi O. Awomodu\AppData\Local\Temp\ipykernel_16284\2181148055.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  about_movie['cast'] = about_movie['cast'].apply(rmoving_space)
C:\Users\Rotimi O. Awomodu\AppData\Local\Temp\ipykernel_16284\2181148055.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  about_movie['crew'] = about_movie['crew'].apply(rmoving_space)
C:\Users\Rotimi O. Awomodu\AppData\Local\Temp\ipykernel_16284\2181148055.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  about_movie['keywords'] = about_movie['keywords'].apply(rmoving_space)
C:\Users\Rotimi O. Awomodu\AppData\Local\Temp\ipykernel_16284\2181148055.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  about_movie['genres'] = about_movie['genres'].apply(rmoving_space)

In [29]:
about_movie['tags'] = about_movie['overview'] + about_movie['genres'] + about_movie['keywords'] + about_movie['spoken_languages'] + about_movie['cast'] + about_movie['crew']

C:\Users\Rotimi O. Awomodu\AppData\Local\Temp\ipykernel_16284\3898666527.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  about_movie['tags'] = about_movie['overview'] + about_movie['genres'] + about_movie['keywords'] + about_movie['spoken_languages'] + about_movie['cast'] + about_movie['crew']

In [30]:
about_movie.head()

,movie_id,title,genres,keywords,overview,spoken_languages,cast,crew,tags
0,19995,Avatar,"[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...","[In, the, 22nd, century,, a, paraplegic, Marin...","[English, Español]","[SamWorthington, ZoeSaldana, SigourneyWeaver]",[JamesCameron],"[In, the, 22nd, century,, a, paraplegic, Marin..."
1,285,Pirates of the Caribbean: At World's End,"[Adventure, Fantasy, Action]","[ocean, drugabuse, exoticisland, eastindiatrad...","[Captain, Barbossa,, long, believed, to, be, d...",[English],"[JohnnyDepp, OrlandoBloom, KeiraKnightley]",[GoreVerbinski],"[Captain, Barbossa,, long, believed, to, be, d..."
2,206647,Spectre,"[Action, Adventure, Crime]","[spy, basedonnovel, secretagent, sequel, mi6, ...","[A, cryptic, message, from, Bond’s, past, send...","[Français, English, Español, Italiano, Deutsch]","[DanielCraig, ChristophWaltz, LéaSeydoux]",[SamMendes],"[A, cryptic, message, from, Bond’s, past, send..."
3,49026,The Dark Knight Rises,"[Action, Crime, Drama, Thriller]","[dccomics, crimefighter, terrorist, secretiden...","[Following, the, death, of, District, Attorney...",[English],"[ChristianBale, MichaelCaine, GaryOldman]",[ChristopherNolan],"[Following, the, death, of, District, Attorney..."
4,49529,John Carter,"[Action, Adventure, ScienceFiction]","[basedonnovel, mars, medallion, spacetravel, p...","[John, Carter, is, a, war-weary,, former, mili...",[English],"[TaylorKitsch, LynnCollins, SamanthaMorton]",[AndrewStanton],"[John, Carter, is, a, war-weary,, former, mili..."

In [31]:
about_movie.iloc[0]['tags']

['In',
 'the',
 '22nd',
 'century,',
 'a',
 'paraplegic',
 'Marine',
 'is',
 'dispatched',
 'to',
 'the',
 'moon',
 'Pandora',
 'on',
 'a',
 'unique',
 'mission,',
 'but',
 'becomes',
 'torn',
 'between',
 'following',
 'orders',
 'and',
 'protecting',
 'an',
 'alien',
 'civilization.',
 'Action',
 'Adventure',
 'Fantasy',
 'ScienceFiction',
 'cultureclash',
 'future',
 'spacewar',
 'spacecolony',
 'society',
 'spacetravel',
 'futuristic',
 'romance',
 'space',
 'alien',
 'tribe',
 'alienplanet',
 'cgi',
 'marine',
 'soldier',
 'battle',
 'loveaffair',
 'antiwar',
 'powerrelations',
 'mindandsoul',
 '3d',
 'English',
 'Español',
 'SamWorthington',
 'ZoeSaldana',
 'SigourneyWeaver',
 'JamesCameron']

In [32]:
new_dataFrame = about_movie[['movie_id', 'title', 'tags']]

In [33]:
new_dataFrame.head()

,movie_id,title,tags
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin..."
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d..."
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send..."
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney..."
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili..."

In [34]:
new_dataFrame['tags'] = new_dataFrame['tags'].apply(lambda t: " ".join(t))
new_dataFrame.head()

C:\Users\Rotimi O. Awomodu\AppData\Local\Temp\ipykernel_16284\1577557900.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_dataFrame['tags'] = new_dataFrame['tags'].apply(lambda t: " ".join(t))

,movie_id,title,tags
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...
4,49529,John Carter,"John Carter is a war-weary, former military ca..."

In [35]:
new_dataFrame.iloc[0]['tags']

'In the 22nd century, a paraplegic Marine is dispatched to the moon Pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization. Action Adventure Fantasy ScienceFiction cultureclash future spacewar spacecolony society spacetravel futuristic romance space alien tribe alienplanet cgi marine soldier battle loveaffair antiwar powerrelations mindandsoul 3d English Español SamWorthington ZoeSaldana SigourneyWeaver JamesCameron'

In [36]:
new_dataFrame['tags'] = new_dataFrame['tags'].apply(lambda t:t.lower())
new_dataFrame.head()

C:\Users\Rotimi O. Awomodu\AppData\Local\Temp\ipykernel_16284\3736204851.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_dataFrame['tags'] = new_dataFrame['tags'].apply(lambda t:t.lower())

,movie_id,title,tags
0,19995,Avatar,"in the 22nd century, a paraplegic marine is di..."
1,285,Pirates of the Caribbean: At World's End,"captain barbossa, long believed to be dead, ha..."
2,206647,Spectre,a cryptic message from bond’s past sends him o...
3,49026,The Dark Knight Rises,following the death of district attorney harve...
4,49529,John Carter,"john carter is a war-weary, former military ca..."

In [37]:
new_dataFrame.iloc[0]['tags']

'in the 22nd century, a paraplegic marine is dispatched to the moon pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization. action adventure fantasy sciencefiction cultureclash future spacewar spacecolony society spacetravel futuristic romance space alien tribe alienplanet cgi marine soldier battle loveaffair antiwar powerrelations mindandsoul 3d english español samworthington zoesaldana sigourneyweaver jamescameron'

In [38]:
new_dataFrame.shape

(4806, 3)

In [39]:
import nltk

from nltk.stem import PorterStemmer

In [40]:
pts = PorterStemmer

In [41]:
def stemming(text):
    sl = []
    for s in text.split():
        sl.append(pts().stem(s))

    return " ".join(sl)

In [42]:
new_dataFrame['tags'] = new_dataFrame['tags'].apply(stemming)

C:\Users\Rotimi O. Awomodu\AppData\Local\Temp\ipykernel_16284\2944673656.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_dataFrame['tags'] = new_dataFrame['tags'].apply(stemming)

In [43]:
new_dataFrame.iloc[0]['tags']

'in the 22nd century, a parapleg marin is dispatch to the moon pandora on a uniqu mission, but becom torn between follow order and protect an alien civilization. action adventur fantasi sciencefict cultureclash futur spacewar spacecoloni societi spacetravel futurist romanc space alien tribe alienplanet cgi marin soldier battl loveaffair antiwar powerrel mindandsoul 3d english español samworthington zoesaldana sigourneyweav jamescameron'

In [44]:
from sklearn.feature_extraction.text import CountVectorizer

ctrv = CountVectorizer(max_features=5000, stop_words='english')

In [45]:
vectr = ctrv.fit_transform(new_dataFrame['tags']).toarray()

vectr

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [46]:
vectr.shape

(4806, 5000)

In [47]:
from sklearn.metrics.pairwise import cosine_similarity

similaarity = cosine_similarity(vectr)

similaarity

array([[1.        , 0.1069045 , 0.12996881, ..., 0.06515584, 0.02236068,
        0.02383656],
       [0.1069045 , 1.        , 0.0833655 , ..., 0.04643635, 0.02390457,
        0.05096472],
       [0.12996881, 0.0833655 , 1.        , ..., 0.04516388, 0.02324953,
        0.02478408],
       ...,
       [0.06515584, 0.04643635, 0.04516388, ..., 1.        , 0.05827715,
        0.06212365],
       [0.02236068, 0.02390457, 0.02324953, ..., 0.05827715, 1.        ,
        0.10660036],
       [0.02383656, 0.05096472, 0.02478408, ..., 0.06212365, 0.10660036,
        1.        ]])

In [48]:
similaarity.shape

(4806, 4806)

In [49]:
new_dataFrame[new_dataFrame['title'] == 'Spider-Man'].index[0]

159

In [50]:
def recomMovie(movie):
    indx = new_dataFrame[new_dataFrame['title'] == movie].index[0]
    distn = sorted(list(enumerate(similaarity[indx])), reverse=True, key= lambda r: r[1])
    for i in distn[1:6]:
        print(new_dataFrame.iloc[i[0]]['title'])

In [51]:
recomMovie('Spider-Man')

Spider-Man 3
Spider-Man 2
The Amazing Spider-Man 2
Arachnophobia
Kick-Ass

In [52]:
import pickle

pickle.dump(new_dataFrame, open('artificatss/movies_list.pkl', 'wb'))

pickle.dump(similaarity, open('artificatss/similarity.pkl', 'wb'))